body {
  background:imagens/jogo sus.webp;
  color: #cfcfcf;
  font-family: Arial, sans-serif;
  text-align: center;
}

#game {
  max-width: 400px;
  margin: auto;
  padding-top: 20px;
}

img {
  width: 100%;
  margin: 15px 0;
  border: 2px solid #333;
}

button {
  background: #111;
  color: #ccc;
  border: 1px solid #444;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background: #222;
}
